#barner{
    height: 70px;
    background-color: rgb(212, 211, 253);
}
#heading{
    color: rgb(156, 21, 30);
    text-align: center;
    font-size: 40px;
}
#smallheading{
    color: rgb(156, 21, 30);
    text-align: center;
    font-size: 20px;
}
#formborder{
    position: relative;
    left: 275px;
    top: 30px;
    width: 60%;
    height: 500px;
    border-radius: 3px;
    border:solid;
}
#fheading{
    position: relative;
    left: 5px;
    color: rgb(156, 21, 30);
}
#firstDetail{
    display: flex;
    gap: 12px;
}
#namelabel{
    position: relative;
    font-size: 20px;
  
    left: 25px;
    
}
#inputbox{
    position: relative;
 
    left: 25px;
    height: 20px;
    
}
#district{
    position: relative;
    left: 25px;
    width: 170px;
    height: 25px;
}
#selectlabel{
    position: relative;
    left: 20px;
    font-size: 20px;
}
#messagebox{
    position: relative;
    left: 10px;
    width: 500px;
    height: 60px;
    top: 20px;
}
#lastpart{
    display: flex;
    gap: 10px;
}
#buton{
    position: relative;
    top: 50px;
    left: 170px;
    height: 30px;
    width: 190px;
    background-color: rgb(156, 21, 30);
    color: white;
    border-radius: 3px;
}
#formpage{
    position: relative;
    color: rgb(156, 21, 30);
    left: 80%;
    top: 5px;
}
.error{
    position: relative;
    left: 50px;
    color: red;
    font-size: 10px;

}